<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="DataSettings" type="Medidata.Cloud.Thermometer.RaveCommon.UnitTests.MockHelpers.DatabaseSettingsStub, Medidata.Cloud.Thermometer.RaveCommon.UnitTests" />
	</configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.34.1.0" newVersion="3.34.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<DataSettings>
		<Caching TimeOut="10" />
		<DefaultHint Valuvie="RaveDev" />
		<ConnectionSettings>
			<ConnectionSetting DataSourceHint="RaveDev" ConnectionString="Server=WIN81;Database=RaveDev;uid=RaveDev;pwd=password*8;Connection Timeout=600" ProviderType="SqlClient" />
			<ConnectionSetting DataSourceHint="RaveDev_Reporter" ConnectionString="Server=WIN81;Database=RaveDev;uid=RaveDev_rpt;pwd=password*8;Connection Timeout=600;Max Pool Size=300;MultipleActiveResultSets=true" ProviderType="SqlClient" />
			<ConnectionSetting DataSourceHint="RaveDev_Migration" ConnectionString="Server=WIN81;Database=RaveDev;uid=RaveDev;pwd=password*8;Connection Timeout=3000;Max Pool Size=300;MultipleActiveResultSets=true" ProviderType="SqlClient" />
		</ConnectionSettings>
	</DataSettings>
</configuration>